@using Proto.Cluster.Gossip
<div style="display: block">
    
    <MatAccordion>
        @foreach (var stateEntry in State.Values.OrderBy(v => v.Key))
        {
            
            <MemberStateEntryWidget Key="@stateEntry.Key" State="stateEntry.Value"></MemberStateEntryWidget>
        }
    </MatAccordion>
</div>
@code {

    [Parameter]
    public string MemberId { get; set; }

    [Parameter]
    public GossipState.Types.GossipMemberState State { get; set; }

}