<div class="box">
    <div>
        <b>Actor Statistics</b>
    </div>
    @foreach (var k in State.ActorStatistics.ActorCount)
    {
        <div>Kind: @k.Key, Count @k.Value</div>
    }
</div>

@code {

    [Parameter]
    public MemberHeartbeat State { get; set; }

}